In [1]:
# url = https://www.skysports.com/premier-league-table

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
def get_league_table(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    tablelist = []
    league_table = soup.find('table', class_= 'standing-table__table callfn' )
    for team in league_table.find_all('tbody'):
        rows = team.find_all('tr')
    for row in rows:
        pl_team = row.find('td', class_= 'standing-table__cell standing-table__cell--name').text
        pl_team1 = pl_team.strip() 
        pl_points = row.find_all('td', class_ = 'standing-table__cell')[9].text
        teaminleague = {
            'name': pl_team1,
            'points': pl_points
        }
        tablelist.append(teaminleague)
    return tablelist

data = get_league_table('https://www.skysports.com/premier-league-table')
#data1 = data.strip()

#print(data)

df = pd.DataFrame(data)

print(df.head(10))
df.describe()

                      name points
0          Manchester City     74
1                Liverpool     73
2                  Chelsea     62
3        Tottenham Hotspur     57
4                  Arsenal     54
5          West Ham United     51
6        Manchester United     51
7  Wolverhampton Wanderers     49
8           Leicester City     40
9           Crystal Palace     37

                   name points
count                20     20
unique               20     16
top     Manchester City     36
freq                  1      3

In [3]:
df.to_csv('C:\\Users\\Admin\\Desktop\\EPLtable.csv')
print('Saved to file')

Saved to file